.git
.github
**/.env
**/.env.*
**/.venv
**/venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/tests
**/coverage
**/logs
**/tmp
**/*.log
**/*.db
**/*.sqlite*
**/.terraform
**/*.tfstate*
**/*.tfplan
**/node_modules
docs
infra
